<app-header></app-header>
<label class="error-message">{{ errMessage }}</label>
<div class="keep-note">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Take a note</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
                <input matInput placeholder="enter note title" name="title" [(ngModel)]="note.title">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="enter note text" name="text" [(ngModel)]="note.text"></textarea>
            </mat-form-field>
            <button class="btn btn-primary" (click)=add()>Done</button>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="note-card-container">
    <mat-card *ngFor="let note of noteList">
        <mat-card-title>{{note.title}}</mat-card-title>
        <mat-card-content>{{note.text}}</mat-card-content>
    </mat-card>
</div>